<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
    <div>Logged in as: <p sec:authentication="principal"></p></div>

    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button class="btn btn-danger" type="submit">Logout</button>
    </form>

    <br/>
    <a sec:authorize="!isAuthenticated()" href="/login">login page</a><br/>
    <br/>

    <a href="/">Public page</a><br/>
    <a href="/admin">Admin page</a><br/>
    <a href="/mysecured">Secured page</a><br/>
    <a href="/anonymous">Anonymous page</a><br/>
    <a href="/me">Me page</a><br/>
    <a href="/me2">Me2 page</a><br/>
    <a href="/logMeInAsUser">logMeInAsUser page</a><br/>

    <a href="/client/1">User id: 1  page</a><br/>
    <a href="/client/2">User id: 2  page</a><br/>

    <a href="/prefilter?numbers=1,2,3,4,5,6">/prefilter?numbers[]=1,2,3,4,5,6  page</a><br/>
    <a href="/postfilter">postfilter  page</a><br/>


    <p sec:authorize="hasRole('ADMIN')">Only admin users can see this line. 1</p>
    <p>isAdmin: <span th:text="${isAdmin}">...</span></p>
</body>
</html>