<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <title>Login</title>
</head>
<body onload="document.f.username.focus()">
    <form name="f" th:action="@{/login}" method="post">
        <div th:if="${param.error}">
            <div th:text="Error"></div>
        </div>
        <div th:if="${param.info}">
            <div th:text="Info"></div>
        </div>

        <input type="text" name="username" placeholder="username" value="" />
        <input type="password" name="password" placeholder="password" value="" />
        <input type="text" name="age" placeholder="age" value="" />
        <input type="submit" value="Login" />
    </form>
</body>
</html>